/* You can add global styles to this file, and also import other style files */
//@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


/* SETTING AND NAMING CUSTOM (or overwriting existing) COLORS FOR SCHEME */
// Defining custom colors (according to color scheme)
$almost-black: #021309;
$blueish-black: #0d0b36;

$blueish-white: #FAFEFC;
$medium-green: #2EE572;
$light-blueish-green: #79f7ef;
$light-blue: #3f92f3;
$light-grey: #d2d2df;


//Custom or overwritten colors from Bulma:
$text: $almost-black;
$background-primary: $blueish-white;
$background-secondary: $blueish-black;
$background-tertiary: $light-grey;

$primary: $medium-green;
$secondary: $light-blueish-green;
$link: $light-blue;

//$title-color: $primary;

//$pagination-current-color: $text;
//$pagination-current-background-color: $background-primary;
//$pagination-current-border-color: $text;


//Exporting custom colors for use
$custom-colors: ("background-primary": $background-primary, "background-secondary": $background-secondary, "secondary": $secondary, "background-tertiary": $background-tertiary);



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's component variables
$body-background-color: $blueish-white;
$control-border-width: 2px;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
