<section class="hero is-medium has-bg-img">
  <div class="hero-body is-light">
    <p class="title">
      <img src="../../assets/goodsun-logo-wide-light.png" width="300" alt="GoodSun Logo">
    </p>
    <p class="subtitle">
      Non commercial solar power forecasting reinvented
      <br>
      <br>
      <button class="button is-secondary" [routerLink]="['/resources/about']">More information</button> 
      &nbsp;
      <button class="button is-primary" [routerLink]="['/calc']"><strong>Get your forecast</strong></button>
    </p>
  </div>
  <div class="hero-foot source">
    Image by vecstock (freepik)
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title is-3">The Challenge with Traditional Solar Yield Calculations</h3>
        <p>
          Traditional methods of solar yield calculation overlook important environmental variables such as seasonality, sun angle, and objects that may shade the solar panels. This leads to inaccurate predictions and suboptimal yield.
        </p>
        
        <br>

        <h3 class="title is-3">Our Solution: Good Sun</h3>
        <p>
          GoodSun is an innovative tool that utilizes advanced algorithms to perform precise solar yield calculations. By taking into account environmental variables, GoodSun provides accurate predictions and optimizes the yield of your solar installation.
        </p>
        
        <p>
          Test GoodSun today and maximize the yield of your solar installation!
        </p>
      </div>
      
      <div class="column">
        <img src="../../assets/solarpanel.jpg" alt="Solar Panel" class="image">
        <div class="source-no-footer">
          Image by vecstock (freepik)
        </div>            
      </div>
    </div>
  </div>
</section>


<section class="hero is-background-secondary is-bold">
  <div class="hero-body">
    <div class="container">
      <h3 class="title is-3 has-text-centered">Get Started with GoodSun Today!</h3>
      <div class="has-text-centered">
        <button class="button is-secondary" [routerLink]="['/calc']"><strong>Get your forecast</strong></button>
      </div>
    </div>
  </div>
</section>