<section class="section">
    <div class="container">
  
      <h4 class="title is-4">How To?</h4>
      <a [routerLink]="['/calc']">&#8592; Back to Setup</a> <br>
  
      <div class="box">
        <h3 class="title is-5">Adding Solar Panels</h3>
        <p>
          Below we provided some information to hopefully help you gather the needed information:
        </p>
        <p>
          <li>
            <strong>Panel Wattage:</strong> typically to be found on the back side of your solar panels. Manufacturer specification.
          </li>
          <li>
            <strong>Panel Azimuth</strong>: direction in which the panel faces (the blue side). Typically between east (90°) and west (270°) in the northern hemisphere.
          </li>          
          <li>
            <strong>Panel Elevation</strong>: how the panel is elevated from the local horizon.
          </li>          
        </p>
      </div>

      <div class="box">
        <h3 class="title is-5">Adding Inverter(s)</h3>
        <p>
          Inverters aren't quite as comlicated to insert as solar panels. We hope the provided information makes things clear for you:
        </p>
        <p>
          <li>
            <strong>Rated Watts</strong>: manufacturer specificiation. To be found on the device or it's manual.
          </li>
        </p>
      </div>

      <div class="box">
        <h3 class="title is-5">Performing an Obstacle Scan</h3>
        <p>
          To perform an Obstacle Scan simply hit <strong>Start Scan</strong>. When the system has enough data points recorded, you are able to stop the recording at your convenience.
        </p>
        <p>
          When recording, try to align the crosshairs with the edges of any possible sources of shade. You basically follow any object which is higher (from the ground up) than the earths natural horizon.
        </p>
        <br>
        <p>Image will follow soon ...</p>
      </div>

    </div>
  </section>